pom.xml
pom.xml.asc
*.class
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

target
.idea
*.iml
*.jar
.lein-plugins
*.log
*.log.gz
*.tmp
.DS_Store
logs
.eastwood
.bash_history
build.xml
.clj-kondo
.lsp
.calva